.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbox {
    width: 270px;
    padding: 15px 30px 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    outline: 3px solid transparent;
    transition: outline-color 1s ease;
    border: none;
    box-shadow: 5px black;
}

.searchbox:hover {
    outline-color: rgb(45, 212, 245);
    /* New color on hover */
}